body {
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.page-header {
  position: relative;
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}
@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.logo__item {
  color: #2196F3;
}

.menu-button,
.menu-button-open {
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-button,
.menu-button-open {
    display: none;
  }
}

.menu-button .icon-menu:hover {
  fill: #2196F3;
}

.menu-button-open {
  position: absolute;
  right: 15px;
  top: 10px;
}
.menu-button-open .icon-cross:hover {
  fill: #2196F3;
}

@media screen and (max-width: 767.98px) {
  .page-nav__conteiner {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    padding: 48px 40px;
  }
  .page-nav__conteiner.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .page-nav__conteiner {
    display: flex;
    width: 100%;
  }
}
.conteiner-nav {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .page-nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    position: relative;
    margin-left: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767.98px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .site-nav__item:last-child {
    margin-bottom: 302px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767.98px) {
  .site-nav__link {
    font-size: 40px;
    line-height: 1.175;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.site-nav__link.current {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .current::after {
    position: absolute;
    bottom: -1px;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: #2196F3;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: inline-block;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  .auth-nav__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav__item {
    display: flex;
  }
  .auth-nav__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .auth-nav {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
  }
}
.auth-nav__link {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767.98px) {
  .auth-nav__item {
    float: inline-end;
  }
  .auth-nav__item:nth-child(2) {
    font-size: 34px;
    line-height: 1.1764705882;
  }
  .auth-nav__item:nth-child(1) {
    font-size: 24px;
    line-height: 0.6363636364;
    counter-increment: list 1;
    order: 2;
  }
  .auth-nav__item:nth-child(2) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav__item {
    margin-left: auto;
    font-size: 12px;
    line-height: 1.1666666667;
  }
  .auth-nav__link {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 1199.98px) {
  .auth-nav__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    font-size: 14px;
    line-height: 1.1428571429;
    display: flex;
    align-items: center;
  }
  .auth-nav__item:first-child {
    margin-right: 30px;
  }
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196F3;
}

.social-nav {
  display: flex;
}
.social-nav__link {
  color: #2196F3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  text-decoration: none;
}
.social-nav__line {
  display: block;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}
.social-nav__item:not(:last-child) {
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .social-nav {
    display: none;
  }
}

.hero {
  background-color: #2F303A;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.6153846154;
}
@media screen and (max-width: 1199.98px) {
  .hero__title {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.hero__button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  background-color: #2196F3;
  color: #FFFFFF;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .overlay {
    width: 480px;
    height: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .overlay {
    width: 768px;
    height: 400px;
  }
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-size: cover;
  background-image: url(../../images/herophonemobile.jpg);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../../images/herophonemobile@2x.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: url(../../images/herophonetablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../../images/herophonetablet@2x.jpg);
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    background-image: url(../../images/herophone.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../../images/herophone@2x.jpg);
    background-size: cover;
  }
}

.section.features {
  padding-bottom: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__icons {
  padding: 25px 100px;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .features__icons {
    width: 270px;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__list {
    margin-top: -30px;
    margin-left: -30px;
  }
  .features__list .features__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    flex-wrap: nowrap;
  }
  .features__list .features__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .features__list .features__item + .features__item {
    margin-left: 30px;
  }
}
.features__list .features__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767.98px) {
  .features__list .features__title {
    text-align: center;
  }
}

.features__list .features__text {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 1199.98px) {
  .our-works {
    display: none;
  }
}
.work-list {
  display: flex;
  justify-content: space-between;
}

.work-list__item {
  position: relative;
}

.work-list__thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-list__text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  background-color: #F5F4FA;
}

@media screen and (max-width: 1199.98px) {
  .section.team .section__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .team__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    justify-content: space-between;
  }
}
.team__item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767.98px) {
  .team__item {
    max-width: 450px;
  }
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98x) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__img {
  width: 100%;
  height: auto;
}

.team__text {
  margin-top: 10px;
  margin-bottom: 16px;
  color: #757575;
  line-height: 1.19;
}

.team-icons {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1199.98px) {
  .team-icons {
    max-width: 206px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }
}

.team-icons__link {
  display: block;
  color: #AFB1B8;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons__icon {
  fill: currentColor;
}

.team-icons__link:hover, .team-icons__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.team-icons__icon:hover, .team-icons__icon:focus {
  fill: currentColor;
}

.team__conte {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (max-width: 767.98px) {
  .team__conte {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .team__conte {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 32px;
    padding-left: 32px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
  }
}

@media screen and (max-width: 1199.98px) {
  .section.clients .section__title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .clients__list .clients__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .clients__list .clients__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767.98px) {
  .clients__icon {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.clients__link {
  display: flex;
  align-items: center;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767.98px) {
  .clients__link {
    max-width: 210px;
    padding: 16px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__link {
    width: 226px;
    padding: 16px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    padding: 16px 32px;
  }
}

.clients__icon {
  fill: currentColor;
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
  color: #2196F3;
}

.clients-list__icon:hover, .clients-list__icon:focus {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */