body {
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.page-header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ECECEC;
}
@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.logo__item {
  color: #2196F3;
}

.menu-button,
.menu-button-open {
  margin: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-button,
.menu-button-open {
    display: none;
  }
}

.menu-button .icon-menu:hover {
  fill: #2196F3;
}

.menu-button-open {
  position: absolute;
  right: 15px;
  top: 10px;
}
.menu-button-open .icon-cross:hover {
  fill: #2196F3;
}

@media screen and (max-width: 767.98px) {
  .page-nav__conteiner {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    padding: 48px 40px;
  }
  .page-nav__conteiner.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .page-nav__conteiner {
    display: flex;
    width: 100%;
    align-items: center;
  }
}
.conteiner-nav {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .page-nav {
    display: flex;
    align-items: center;
    margin-left: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .page-nav {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    position: relative;
  }
}

@media screen and (max-width: 767.98px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav__link {
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767.98px) {
  .site-nav__link {
    font-size: 40px;
    line-height: 1.175;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.site-nav__link.current {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .current::after {
    position: absolute;
    bottom: -1px;
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: #2196F3;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav {
    display: inline-block;
    align-items: center;
    margin-left: auto;
  }
}
@media screen and (max-width: 767.98px) {
  .menu-bottom__auth {
    position: absolute;
    left: 40px;
    bottom: 48px;
  }
}
@media screen and (min-width: 768px) {
  .menu-bottom__auth {
    margin-left: auto;
  }
}

@media screen and (max-width: 767.98px) {
  .auth-nav {
    margin-top: auto;
  }
  .auth-nav__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav__item {
    display: flex;
  }
  .auth-nav__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}

@media screen and (max-width: 767.98px) {
  .auth-nav {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
  }
}
.auth-nav__link {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767.98px) {
  .auth-nav__item {
    float: inline-end;
  }
  .auth-nav__item:nth-child(2) {
    font-size: 34px;
    line-height: 1.1764705882;
  }
  .auth-nav__item:nth-child(1) {
    font-size: 24px;
    line-height: 0.6363636364;
    counter-increment: list 1;
    order: 2;
  }
  .auth-nav__item:nth-child(2) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav__item {
    margin-left: auto;
    font-size: 12px;
    line-height: 1.1666666667;
  }
  .auth-nav__link {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 1199.98px) {
  .auth-nav__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    font-size: 14px;
    line-height: 1.1428571429;
    display: flex;
    align-items: center;
  }
  .auth-nav__item:first-child {
    margin-right: 30px;
  }
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: #2196F3;
}

.social-nav {
  display: flex;
  flex-wrap: wrap;
}
.social-nav__link {
  color: #2196F3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  text-decoration: none;
}
.social-nav__line {
  display: block;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}
.social-nav__item:not(:last-child) {
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .social-nav {
    display: none;
  }
}

.hero {
  background-color: #2F303A;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.6153846154;
}
@media screen and (max-width: 1199.98px) {
  .hero__title {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.hero__button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 32px;
  background-color: #2196F3;
  color: #FFFFFF;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .overlay {
    width: 480px;
    height: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .overlay {
    width: 768px;
    height: 400px;
  }
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-image: url(../images/herophonemobile.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/herophonemobile@2x.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: url(../images/herophonetablet.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/herophonetablet@2x.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    background-image: url(../images/herophone.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/herophone@2x.jpg), linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-size: cover;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section.our-works {
  padding-top: 0;
}

.features__icons {
  padding: 25px 100px;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .features__icons {
    width: 270px;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__list {
    margin-top: -30px;
    margin-left: -30px;
  }
  .features__list .features__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    flex-wrap: nowrap;
  }
  .features__list .features__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .features__list .features__item + .features__item {
    margin-left: 30px;
  }
}
.features__list .features__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (max-width: 767.98px) {
  .features__list .features__title {
    text-align: center;
  }
}

.features__list .features__text {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 1199.98px) {
  .our-works {
    display: none;
  }
}
.work-list {
  display: flex;
  justify-content: space-between;
}

.work-list__item {
  position: relative;
}

.work-list__thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-list__text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  background-color: #F5F4FA;
}

@media screen and (max-width: 1199.98px) {
  .section.team .section__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .team__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    justify-content: space-between;
  }
}
.team__item {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767.98px) {
  .team__item {
    max-width: 450px;
  }
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98x) {
  .team__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
}

.team__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__img {
  width: 100%;
  height: auto;
}

.team__text {
  margin-top: 10px;
  margin-bottom: 16px;
  color: #757575;
  line-height: 1.19;
}

.team-icons {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1199.98px) {
  .team-icons {
    max-width: 206px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }
}

.team-icons__link {
  display: block;
  color: #AFB1B8;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons__icon {
  fill: currentColor;
}

.team-icons__link:hover, .team-icons__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.team-icons__icon:hover, .team-icons__icon:focus {
  fill: currentColor;
}

.team__conte {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (max-width: 767.98px) {
  .team__conte {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .team__conte {
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 32px;
    padding-left: 32px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
  }
}

@media screen and (max-width: 1199.98px) {
  .section.clients .section__title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767.98px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .clients__list .clients__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .clients__list .clients__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767.98px) {
  .clients__icon {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.clients__link {
  display: flex;
  align-items: center;
  height: 92px;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767.98px) {
  .clients__link {
    max-width: 210px;
    padding: 16px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__link {
    width: 226px;
    padding: 16px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    padding: 16px 32px;
  }
}

.clients__icon {
  fill: currentColor;
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
  color: #2196F3;
}

.clients-list__icon:hover, .clients-list__icon:focus {
  fill: currentColor;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}
@media screen and (max-width: 767.98px) {
  .page-footer {
    text-align: center;
  }
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.page-footer__text {
  margin-top: 0;
  margin-bottom: 8px;
  color: #FFFFFF;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
@media screen and (min-width: 1199.98px) {
  .page-footer__text {
    margin-bottom: 9px;
  }
}

.adress-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .adress-list__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.adress-list__link:hover, .adress-list__link:focus {
  color: #2196F3;
}

@media screen and (max-width: 767.98px) {
  .adress-conte {
    margin-bottom: 60px;
  }
}

.footer-come {
  padding: 0 0;
}
@media screen and (max-width: 767.98px) {
  .footer-come {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-come {
    height: 80px;
    margin-left: 70px;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (max-width: 1199.98px) {
  .footer-tablet {
    margin-bottom: 60px;
    justify-content: space-around;
  }
}
.footer-come__link {
  display: block;
  color: #FFFFFF;
  width: 44px;
  height: 44px;
  padding: 12px 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-come__icon {
  fill: currentColor;
}

.footer-come__list {
  gap: 10px;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .foot-conte {
    display: flex;
  }
}

@media screen and (max-width: 1199.98px) and (min-width: 768px) {
  .adress-conte, .footer-come, .footer-sign {
    text-align: center;
  }
}
.footer-come__list {
  display: flex;
  padding: 0 0;
  gap: 10px;
}

.footer-come__link:hover, .footer-come__link:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.footer-come__icon:hover {
  fill: currentColor;
}

.footer-come__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-sign {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer-sign {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    width: 570px;
    height: 86px;
  }
}

.footer-sign__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-sign input {
  padding: 15px 16px;
  width: 450px;
  height: 50px;
  border-radius: 4px;
  background-color: #2F303A;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 1199.98px) {
  .footer-sign input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-sign input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-sign input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-sign input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-sign input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-sign__button {
  display: flex;
  border-radius: 4px;
  border: 1px solid transparent;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  cursor: pointer;
  background-color: #2196F3;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 1199.98px) {
  .footer-sign__button {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-sign__icon {
  display: inline-block;
  align-items: center;
  fill: currentColor;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdroup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdroup.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal__button {
  position: absolute;
  cursor: pointer;
  background-color: inherit;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__button:hover .modal__close,
.modal__button:focus .modal__close {
  fill: #2196F3;
}

.modal__close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  border-radius: 4px;
  background-color: #fff;
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199.98px) {
  .modal {
    max-width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.form-modal {
  display: flex;
  flex-wrap: wrap;
}

.form-modal__text, .form-modal .comment__text {
  display: inline-block;
  margin-bottom: 4px;
}

.form-modal__label, .form-modal .comment {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.form-modal__thumb {
  position: relative;
}

.comment__input {
  resize: none;
  outline: transparent;
  width: 370px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .comment__input {
    width: 448px;
  }
}

.comment {
  margin-bottom: 20px;
}

.comment__input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__input {
  height: 40px;
  width: 370px;
  padding-left: 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .form-modal__input {
    width: 448px;
  }
}

.form-modal__icon {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 13.5px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__input:focus,
.comment__input:focus {
  border-color: #2196F3;
}

.form-modal__input:focus + .form-modal__icon {
  fill: #2196F3;
}

.checkbox__agree {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .checkbox__agree {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
  margin-left: 5px;
}
@media screen and (min-width: 1200px) {
  .checkbox__link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.checkbox__icon {
  display: flex;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 1px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__icon {
  background-size: contain;
  background-color: #2196F3;
  border-color: #2196F3;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
}

.button-send {
  display: flex;
  border-radius: 4px;
  border: 1px solid transparent;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 0;
  cursor: pointer;
  background-color: #2196F3;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.filtr-page {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .filtr-page {
    width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .filtr-page {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filtr-page {
    margin-bottom: 50px;
  }
}

.filtr-page__item + .filtr-page__item {
  margin-left: 8px;
}
@media screen and (max-width: 767.98px) {
  .filtr-page__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
}

.filtr-page__button {
  color: #000000;
  background-color: #F5F4FA;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.all {
  padding-left: 25px;
  padding-right: 25px;
}

.filtr-page__button:hover,
.filtr-page__button:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-works__link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767.98px) {
  .portfolio-works__item {
    margin-bottom: 30px;
  }
}

.portfolio-works__conte {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .portfolio-works__conte {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-works__conte {
    width: 370px;
  }
}

.portfolio-works__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio-works__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-works__img {
    width: 370px;
  }
}

.portfolio-works__item {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-works__item:hover, .portfolio-works__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .portfolio-works {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .portfolio-works__item {
    margin-top: 30px;
    margin-left: 30px;
  }
}
.portfolio-works__conte {
  padding: 24px 20px;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.portfolio-works__title {
  margin-bottom: 4px;
  margin-top: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-works__text {
  color: #757575;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1.88;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio-works {
    display: flex;
  }
  .portfolio-works__item:first-child .portfolio-works__link {
    display: flex;
    flex-direction: column;
    height: 449px;
  }
  .portfolio-works__thumb {
    height: 294px;
  }
  .portfolio-works__conte {
    flex-grow: 1;
  }
}
.portfolio-works__thumb {
  position: relative;
  overflow: hidden;
}

.check-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 24px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 375px) and (max-width: 479px) {
  .check-out {
    padding: 49px 24px;
  }
}
@media screen and (min-width: 480px) {
  .check-out {
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) {
  .check-out {
    padding-bottom: 49px;
    padding-top: 49px;
  }
}
@media screen and (min-width: 1200px) {
  .check-out {
    padding-bottom: 63px;
    padding-top: 63px;
  }
}

.portfolio-works__item:hover .check-out {
  transform: translateY(0);
}

.check-out {
  color: #FFFFFF;
}
@media screen and (max-width: 374px) {
  .check-out {
    font-size: 14px;
    line-height: 1.56;
  }
}
@media screen and (min-width: 375px) and (max-width: 479px) {
  .check-out {
    font-size: 16px;
    line-height: 1.56;
  }
}
@media screen and (min-width: 480px) {
  .check-out__text {
    font-size: 18px;
    line-height: 1.56;
    color: #FFFFFF;
  }
}/*# sourceMappingURL=main.css.map */