.team {
    background-color: $section-two-color;
}

@media screen and (max-width: 1199px) {
    .section.team .section__title {
        margin-bottom: 30px;
    }
}

// .team__list {
//     display: flex;
//     justify-content: space-between;
// }

.team__item {
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team {
    &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    }
}

.team {
    &__text {
    margin-top: 10px;
    margin-bottom: 16px;
    color: $paragraph-text-color;
    line-height: 1.19;
    }
}

// .team-icons {
//     display: flex;
//     justify-content: space-between;
// }

// .team-icons {
//     &__link {
//     display: block;
//     color: $clients-color;
//     width: 44px;
//     height: 44px;
//     padding: 12px 12px;
//     border-radius: 50%;

//     transition: color 250ms $timing-function, background-color 250ms $timing-function;
//     }
// }

// .team-icons {
//     &__icon {
//     fill: currentColor;
//     }
// }

// .team-icons {
//     &__link:hover,
//     &__link:focus {
//     background-color: $accent-color;
//     color: $heder-bg-color;
//     }
// }

// .team-icons {
//     &__icon:hover,
//     &__icon:focus {
//     fill: currentColor;
//     }
// }

// .team__conte {
//     width: 270px;
//     padding-bottom: 30px;
//     padding-top: 30px;
//     padding-right: 32px;
//     padding-left: 32px;
//     background-color: $heder-bg-color;
//     border-radius: 0px 0px 4px 4px;
// }