@media screen and (max-width: 1199.98px) {
    .our-works {
        display: none;
    }
}

.work-list {
    display: flex;
    justify-content: space-between;
}

.work-list {
    &__item {
    position: relative;
    }
}

.work-list__thumb {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 27px 0;
    background-color: rgba(47, 48, 58, 0.8);
}

.work-list {
    &__text {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    }
}