.page-header {
    position: relative;
    background-color: $heder-bg-color;
    border-bottom: 1px solid #ECECEC;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo__item  {
    color: $accent-color;
}

.menu-button,
.menu-button-open
 {
    margin: 0;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
@media screen and (min-width: 768px) {
    display: none;
}
}

.menu-button {
    .icon-menu:hover {
        fill: $accent-color; 
    }
}

.menu-button-open {
    position: absolute;
    right: 15px;
    top: 10px;

    .icon-cross:hover {
        fill: $accent-color;
    }
}



@media screen and (max-width: 767px) {
.page-nav__conteiner {
    position: absolute;

    display: none;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $heder-bg-color;
    padding: 48px 40px;
    &.is-open {
        display: block;
    }
} 
}

