.conteiner-nav {
    display: flex;
    align-items: center;
    }

.page-nav { 

    @media screen and (min-width: 1200px) { display: flex;
}     
}
    
.site-nav {
   
@media screen and (min-width: 1200px) {
    position: relative;
    display: inline-block;
    margin-left: 93px;
}
}

.site-nav {
@media screen and (max-width: 767px) {
    &__item:not(:last-child) {
        margin-bottom: 32px;
    }
    &__item:last-child {
        margin-bottom: 302px;
    }
}
 @media screen and (min-width: 1200px) {
        &__item + &__item {
        margin-left: 50px;
        }
}
}

.site-nav {
    &__link { 
        color: $primery-text-color;
        font-weight: 500;
        letter-spacing: 0.02em;
        text-decoration: none;
        transition: color 250ms $timing-function;
    }

@media screen and (max-width: 767px) {
    &__link {
            font-size: 40px;
            line-height: calc( 47 / 40 );
        }

    }

@media screen and (min-width: 1200px) {
    &__link {
        position: relative;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        line-height: 1.14;
    }
}
}
        
 .site-nav  {
        &__link:hover,
        &__link:focus {
        color: $accent-color;
    }
}

.site-nav {
     &__link.current
    {
         color: $accent-color;
     }
}

@media screen and (min-width: 768px) {
    .current::after {
        position: absolute;
        bottom: -1px;
        content: '';
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: $accent-color;
}
}

//     .auth-nav {
//         display: flex;
//         align-items: center;
//         margin-left: auto;
//     }
    
.auth-nav {
@media screen and (max-width: 767px) {
    &__icon {
        display: none;
    }
}

@media screen and (min-width: 768px) {
     &__icon 
        {
        display: block;
        fill: currentColor;
        margin-right: 10px;
     }
    }
}
   
// .auth-nav  {
//     &__icon:hover,
//     &__icon:focus
//     {
//         fill: $accent-color;
//     }
// }

// .auth-nav {
//     &__item + &__item {
//     margin-left: 50px;
//     }
// }

.auth-nav {
    display:flex;
	flex-direction:column;
    &__link {
        color: $paragraph-text-color;
        font-weight: 500;
        letter-spacing: 0.02em;
        text-decoration: none;
        transition: color 250ms $timing-function;
    }

@media screen and (max-width: 767px) {
    &__item {
        float: inline-end;
    }
    &__item:nth-child(2) {
                font-size: 34px;
        line-height: calc( 40 / 34 );
    }
    &__item:nth-child(1) {
        font-size: 24px;
        line-height: calc( 28 / 44 );
        counter-increment:list 1;
	    order:2;

    }
    &__item:nth-child(2) {
        margin-bottom: 32px;
    }

}
}


//     &__link {
//     display: flex;
//     
//     padding-top: 32px;
//     padding-bottom: 32px;

//     
//     font-size: 14px;
//     line-height: 1.14;
//     
//     
//     align-items: center;

//     
//     }
// }

// .auth-nav {
//     &__link:hover,
//     &__link:focus {
//     color: $accent-color;
//     }
// }