$accent-color: #2196F3;
$heder-bg-color: #FFFFFF;
$primery-bg-color: #2F303A;
$section-one-color: #F5F5F5;
$section-two-color: #F5F4FA;
$primery-text-color: #212121;
$paragraph-text-color: #757575;
$clients-color: #AFB1B8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
